MONGO_URI=mongodb+srv://admin_user:admin123@realestatedev.6k1btdc.mongodb.net/?appName=realestatedev
CLOUDINARY_API_KEY=472813672345298
CLOUDINARY_API_SECRET=hVDHot3G0rM0yu_f4zQW3qO6j1A
CLOUDINARY_NAME=dfjed4wta
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH_EXPIRY=7d
JWT_ISSUER=lmsdev
JWT_AUDIENCE=lmsdev